{% extends "vellum/base_vellum.html" %}
{% load i18n %}

{% block body_id %}post-index{% endblock %}
{% block body_class %}{{ block.super }} archive{% endblock %}

{% block content %}
    {% block page_notice %}{% endblock %}

    {% for post in object_list %}
        {% include 'vellum/includes/post.html' %}
    {% endfor %}

    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_next %}
        <a class="older" href="?page={{ page_obj.next_page_number }}" title="{% trans "View older posts" %}">&laquo; {% trans "Older" %}</a>
        {% endif %}
        {% if page_obj.has_previous %}<span class="separator">|</span>{% endif %}
        {% if page_obj.has_previous %}
        <a class="newer" href="?page={{ page_obj.previous_page_number }}" title="{% trans "View newer posts" %}">{% trans "Newer" %} &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
